.tweet {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.tweet__body {
  flex: 1;
  padding: 10px;
}

.tweet__body > img {
  border-radius: 50%;
  border: 2px solid var(--dark);
  display: flex;
  justify-content: space-between;
}

.tweet__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.tweet__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tweet__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.tweet__avatar {
  padding: 20px;
}

.tweet__twitterHandle {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
